h1 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
}


p {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.5em;
  text-align: center;
}
