body {
  margin: 0px 4em 0px 4em;
}

h1 {
  color: #3C79F9;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin-top: 4em;
  letter-spacing: 0.03em;
}

p {
  color: #3C79F9;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
  margin-top: 4em;
  line-height: 2;
  letter-spacing: 0.03em;
}

.tagline {
  color: #4E4E4E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  text-align: center;
  margin-top: 4em;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-top: 8em;
}

.subtle {
  color: #4E4E4E;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  text-align: center;
  margin-top: 4em;
  line-height: 2;
  letter-spacing: 0.03em;
}

.wrapper {
  text-align: center;
  margin-top: 4em;
}

button.MyButton {
  border-radius: 0.5em;
  font-size: 1em;
  background-color: white;
  color: #3C79F9;
  border: 2px solid #3C79F9;
  padding: 16px 40px;
}

button.MyButton:hover {
  background-color: #3C79F9;
  color: white;
  cursor: pointer;
}

.images {
display: inline-block;
margin: 0em;
padding: 20px;
}

.companies {
  display: block;
  margin: 0em;
  padding: 0em;
  position: relative;
  top: 1em;
  height: auto;
  max-width: auto;
  overflow-y: hidden;
  overflow-x:auto;
  text-align: center;
}

body {
  background-color: #FFFFFF
}

@media (max-width: 767px) {
  h1 {
    margin-top: 1.5em;
    font-size: 1.5em;
  }

  .subtle {
    font-size: 1em;
  }
}
